<!DOCTYPE html>
<html>
    <head>
        <title>New Horizons Tracker</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="content">
            <nav>
                <a href="/" class="btn btn-primary">Home</a>
                <a href="/new_animal" class="btn btn-primary">New Animal</a>
                        <a href="/new_item" class="btn btn-primary">New Item</a>
                        <a href="/logout" class="btn btn-primary">Logout</a>
                <div>
                    <!-- {% if current_user.is_authenticated %} -->
                        <a href="/new_animal" class="btn btn-primary">New Animal</a>
                        <a href="/new_item" class="btn btn-primary">New Item</a>
                        <a href="/logout" class="btn btn-primary">Logout</a>
                    <!-- {% else %} -->
                        <a href="/signup" class="btn btn-primary">Sign Up</a>
                        <a href="/login" class="btn btn-primary">Log In</a>
                    <!-- {% endif %} -->
                </div>
            </nav>
        
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
